@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --about-bg: #575048;
  --about-accent: #c0e84d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-about-bg: var(--about-bg);
  --color-about-accent: var(--about-accent);
  --font-sans: var(--font-abc-favorit), Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
